<h1>New Keg</h1>
<div>
  <label>Enter New Keg Name:</label>
  <input #newName>
</div>
<div>
  <label>Enter Brand:</label>
  <input #newBrand>
</div>
<div>
  <label>Enter Price:</label>
  <input #newPrice>
</div>
<div>
  <label>Enter Alcohol Content:</label>
  <input #newAlcoholContent>
</div>
<div>
  <label> Enter Image URL:</label>
  <input #newImageUrl>
</div>
<div>
  <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcoholContent.value, newImageUrl.value); newName.value=''; newBrand.value=''; newPrice.value=''; newAlcoholContent.value=''; newImageUrl.value='';">Add Keg</button>
</div>
